html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

#map {
    position: relative;
    margin: 0 auto;
    position: relative;
    height: 100%;
    width: 50%;
}

#container {

    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "微软雅黑";
}

#canvas {
    border: 1px solid #cccccc;
    background-color: rgb(255, 255, 0);
    position: absolute;
    bottom: 200px;
    right: 120px;
}
#canvas1 {
    border: 1px solid #cccccc;
    background-color: rgb(249,274,236);
    position: absolute;
    bottom: 100px;
    left: 100px;
}
#canvas2 {
    border: 1px solid #cccccc;
    background-color: rgb(66, 237, 118);
    position: absolute;
    bottom: 200px;
    left: 100px;
}
#canvas3 {
    border: 1px solid #cccccc;
    background-color: rgb(76, 255, 228);
    position: absolute;
    bottom: 350px;
    right: 150px;
}
